{# slate
  name = <%= ComponentName %>
  models[<%= bundle %>] = entity:<%= entityType %><% if (useViewMode) { %>
  view_mode[<%= entityType %>][<%= bundle %>] = <%= viewMode %><% } %>
#}

<div class="<%= ComponentName %>">

</div>
